.portfolio-part{
    width: 100%;
    color:white;
      font-size: 4vw;
      text-align: center;
      display: flex;
  justify-content: center;
  align-items: center;
}
  .portfolio-part h1{
        font-family: 'Suez One', serif;
        font-size: 4vw;
        margin-top: 10px;
        white-space: nowrap;
  }
  .portfolio-part h2{
    font-family: 'Roboto Flex', sans-serif;
      font-size: 4vw;
}
[type='radio'] {
  display: none; 
}

@media  (min-width: 1100px) {

  #work-section{
    padding: 0 150px;
  }
}

