a{
    line-height: 1;
}

.hr-style{
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
    border-color: grey;
    background-color: transparent;
  }
  .hr-row{
      height: 10px;
  }
  .git-text-row{
      padding: 0;
  }

  .git-text-row h3{
      font-size: 10px;
  }
  .git-text-row a{
    font-size: 10px;
    color:inherit;
    margin-top:1px
}
.git-text-row .iconsClass{
    font-size: 15px;
    color:inherit;
    padding: 0 3px 0 0 ;
}

.git-text-row a:hover{
    font-size: 10px;
    color:rgb(8, 4, 4);
    text-decoration: none;
}
.work-image{
    width: 100%;
    height: auto;
}

.work-part{
    padding: 5px 15px;
}

.work-part h1{
    font-size: 2vw;
}

.work-part h5{
    font-size: 1vw;
}

.work-div{
    
    height: 100%;
}
.gaming{
    background-color: #730038;
background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.web{
    background-color: #008f4f;
background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.other, .computer-vision{
    background-color: #a3b800;
background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.row{
    margin: 0px;
}

.tags-image{
    width: auto;
    height: 30px;
    padding: 0 5px 0 0;
    max-width: 100%;
}

.links-image{
    height: auto;
    width: 80px;
    padding: 0 5px 0 0;
}

.topContainer{
    padding: 5px;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
}

.tagDiv {
    margin: 0px 0;
    line-height: 1;
}


@media  (min-width: 800px) {

    .tags-image{
        
        height: 40px;
        padding: 0 5px 0 0;
        
    }
  }
  
  @media  (max-width: 800px) {

    .work-part h1{
        font-size: 15px;
        flex-wrap: wrap;

    }
    
    .work-part h5{
        font-size: 2vw;
    }
    .links-image{
        
        width: 60px;
        
    }
    .work-part{
        padding: 5px;
    }
  }